.calculator-container {
  width: 400px;
  margin: 50px auto;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  background-color: rgb(227, 227, 227);
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(0%,40%);
  box-shadow: 5px 5px 5px #888888;
}

.history-container {
  margin-top: 20px;
}

.calculator-container.light {
  background-color: #dddddd;
  color: rgb(23, 23, 23);
}

.calculator-container.light normal_button {
  background-color: #d5d5d5;
  color: rgb(0, 0, 0);
  border: 2px solid black;
}

.calculator-container normal_button {
  background-color: #333333;
  color: white;
  border: none;
}

.calculator-container button.theme {
  margin-left: 20px;
}

.calculator-container.light ul {
  width: 300px;
  margin: 30px;
  padding: 20px;
  font-size: 20px;
  background-color: white;
  color: black;
  text-align: left;
  list-style: none;
  font-family: arial, sans-serif;
  border: 2px solid black;
}

.calculator-container.light input {
  width: 330px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 25px;
  background-color: white;
  color: black;
}